<div class="panel panel-primary">
	<div class="panel-heading">
		<a ng-click="submit(epData)" class="btn btn-success">保存</a>
		<a ui-sref="list({table:'User'})" class="btn btn-default">返回</a>
	</div>	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-10"><div class="alert alert-success">aaaa</div></div>
			<div class="col-md-2">
				<a href="" class="">回复</a>|
				<a href="" class="">删除</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10"><div class="alert-info alert">aaaa</div></div>
			<div class="col-md-2">
				<a href="" class="">删除</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10"><div class="alert alert-success">aaaa</div></div>
			<div class="col-md-2">
				<a href="" class="">回复</a>|
				<a href="" class="">删除</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10"><div class="alert-info alert">aaaa</div></div>
			<div class="col-md-2">
				<a href="" class="">删除</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-md-offset-2">
				<pagination boundary-links="true" total-items="64" ng-model="curretpage" class="pagination-sm" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>
			</div>
		</div>
	</div>
</div>