<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/ng-grid/ng-grid.css">
  <link rel="stylesheet" type="text/css" href="bower_components/select2/select2.css">
  <link rel="stylesheet" href="bower_components/Font-Awesome-3.2.1/css/font-awesome.css">

  <style type="text/css">
  /*表格样式*/
    .gridStyle {
          border: 1px solid rgb(212, 212, 212);
          height: 450px;
      }
  </style>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="adminApp">
    <!--面板-->
      <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title" ng-bind="headText"></h3>
          </div>
          <div class="modal-body" ng-bind="bodyText">

          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-show="isShowOk" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-show="isShowCancel" ng-click="cancel()">Cancel</button>
          </div>
      </script>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="container">
        <div class="navbar navbar-default" ng-controller="head.Ctrl">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">极客工作室</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">个人资料</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="userName"> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a class="btn" ng-click="quit()">安全退出</a></li>
                    <li class="divider"></li>
                    <li><a class="btn">密码修改</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </div>

      <div class="row">
        <div class="col-md-3">
          <div ng-controller="NavCtrl">
            <accordion close-others="false">
              <accordion-group is-open="status.open" ng-repeat="root in roots">
              <accordion-heading>
              <span ng-bind="root.TheName"></span>
               <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <div ng-repeat="item in root.items"><a href="{{item.Url}}" ng-bind="item.TheName"></a></div>
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class="col-md-9">
      <div ui-view="content">
        数据加载中...
      </div>
    </div>
  </div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the geeker</p>
  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!-- <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script> -->

     <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!--<script src="bower_components/requirejs/require.js"></script>-->
    <script src="bower_components/ng-grid/build/ng-grid.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ueditor/ueditor.config.js"></script>
    <script src="bower_components/ueditor/ueditor.all.js"></script>
    <script src="bower_components/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/directive/EditPage.js"></script>
    <script src="scripts/common/function.js"></script>
    <script src="scripts/cache/cache.js"></script>
    <script src="scripts/directive/baiduueditor.js"></script>


    <script src="scripts/AdminApp.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <!-- endbuild -->
  </body>
  </html>
